# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Sublime Text
*.sublime-project
*.sublime-workspace

.Rproj.user

# OS X
.DS_Store

# Knitted html
Rmd/*.html


.DS_Store

R/.DS_Store

.DS_Store

R/.DS_Store

R/util_data_summaries.R

R/util_data_summaries.R

R/util_data_summaries.R
